@use '../../styles/variables.module' as *;

.button {
  padding: 10px 30px;
  font-family: $font-body;
  font-weight: 600;
  border-radius: $border-sm;
  font-size: 1.6rem;
  text-decoration: none;
  transition: background 250ms ease-in-out, box-shadow 200ms ease-in-out,
    transform 150ms ease-in-out, border 200ms ease-in-out,
    color 250ms ease-in-out;

  &:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }

  &:active {
    transform: translateY(0px) !important;
  }

  @include responsive("mobile") {
    display: block !important;
    padding: 20px 0px !important;
    text-align: center !important;

    &:first-child {
      margin-bottom: 2%;
    }
  }
}

.primary {
  background: red;
}
