@use "../../styles/variables.module" as *;

.wrapper {
  //   min-width: 290px;
  //   min-height: 50px;
  @include objectCorner("default");
  text-decoration: none;
  // Old - background: getColor(lightLightBase3);
  background: theme(surface);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  transition: background 250ms linear, box-shadow 250ms linear;
  outline: none;

  &:focus {
    background: getColor(lightBase);
  }

  .text {
    flex: 2;

    h3 {
      transition: color 150ms linear;
    }
  }

  .icon {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  &:hover {
    background: getColor(darkBase2);
    @include objectShadow("hover", "snow");

    .text {
      h3 {
        color: $white !important;
      }
    }
  }

  @include responsive("mobile") {
    @include objectCorner("mobile");
    // width: 100%;
    flex-direction: row;
  }
}
