@use "../../styles/variables.module" as *;

.isLight {
  @include objectShadow("default", "snow");
  transition: box-shadow 200ms linear;

  &:hover {
    @include objectShadow("hover", "snow");
  }
}

.CTACard {
  flex: 1;
  // background: getColor(lightBase);
  background: interface(card);
  // max-width: 400px;
  min-height: 200px;
  @include objectCorner("default");
  transition: box-shadow 200ms linear, transform 200ms linear,
    background 200ms linear;

  .coverImage {
    border-radius: $defaultBorder;
    margin: 20px 20px 0px 20px;
    // border-top-left-radius: $defaultBorder;
    transition: box-shadow 200ms linear;

    img {
      transition: transform 450ms ease;
    }
  }

  &:hover {
    @include objectShadow("default", "snow");
    // background: getColor(whiteToRaven);
    // background: interface(card-hover);
    transform: translateY(-3px);

    .coverImage {
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

      img {
        transform: scale(1.1);
      }
    }
  }

  &:nth-child(2) {
    margin-right: 2%;
    margin-left: 2%;
  }

  @include responsive("mobile") {
    max-width: 100%;
    @include objectCorner("mobile");

    &:nth-child(2) {
      margin-right: unset;
      margin-left: unset;
    }

    .coverImage {
      border-top-right-radius: $mobileBorder !important;
      border-top-left-radius: $mobileBorder !important;
    }
  }
}

.text {
  padding: 20px 20px;

  .headerText {
    display: block;
    margin-bottom: 10px;

    h5 {
      line-height: 15px;
      margin-bottom: 5px;
    }

    h3 {
      font-weight: 700;
      line-height: 30px;
    }
  }

  p {
    line-height: 1.5 !important;
  }
}

.buttonWrapper {
  padding: 0 20px 20px;
}

.button {
  background: interface("surfaceAlt");
  color: interface(body);
  // margin-top: 20px;
  // border-top: 4px solid getColor(lightdarkBase) !important;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-block: 17px !important;
  border: 1px solid interface(border);

  &:hover {
    background: $midnight-400;
    color: #fff;
    transform: none !important;
    border-color: $midnight-500 !important;
  }

  @include responsive("mobile") {
    &:first-child {
      margin-bottom: 0px !important;
    }
  }

  // &:hover {
  // border-top-right-radius: 0px !important;
  // border-top-left-radius: 0px !important;
  // border-top: 4px solid getColor(lightLightBase) !important;
  // }

  svg {
    position: relative;
    top: -1px;
    transform: scale(1.3);
    // font-size: 22px;
  }
}
