@use '../../styles/variables' as *;

.dropdownMenu {
    margin-top:5px !important;
    border:none !important;
    // background:getColor(lightLightBase);
    background-color:getColor(lightLightBase);
    @include objectShadow('default', 'snow');
    @include objectCorner('default');

    div {
        font-family:$primaryFont;
        font-size:1rem;
        font-weight:500;
        text-align:left;
        padding:15px 30px;
        color:getColor(normalText);
        background:getColor(lightLightBase);
        transition: background 200ms linear, color 200ms linear;

        &:hover {
            color:$mist;
            background:getColor(lightLightBase2);
        }
    }
}

.arrowDrop {
    display:none !important;
}