@use '../../styles/variables.module' as *;

.txageContainer {
  max-width: $wrapMaxWidth;
  margin: auto;

  &:not(:first-child) {
    margin-top: 3em;
  }

  &:nth-child(odd) {
    .fullTxage {
      flex-direction: row-reverse;

      img {
        border-top-right-radius: $defaultBorder;
        border-bottom-right-radius: $defaultBorder;
      }
    }
  }

  &:nth-child(even) {
    .fullTxage .txageImage img {
      border-top-left-radius: $defaultBorder;
      border-bottom-left-radius: $defaultBorder;
    }
  }
}

.fullTxage {
  background: getColor(lightLightBase);
  display: flex;
  align-items: center;
  justify-content: center;
  @include objectCorner("default");

  .txageImage {
    flex: 1;
    width: 100%;
  }

  .txageText {
    // background: red;
    flex: 1.5;
    padding: 0 5%;

    h4 {
      margin-bottom: 10px;
    }

    h3,
    p {
      margin-bottom: 15px;
    }
  }
}
