@use '../../styles/variables.module'as *;

.container {
  //   background: red;
  margin-top: 25px;
  width: 100%;
  position: sticky;
  top: $navHeight;
  right: 0;
  left: 0;
  background: getColor(lightBase);
  padding: 15px 0px;
  z-index: 1;

  @include responsive("mobile") {
    top: $navMobileHeight + 20;
  }
}

.wrapper {
  margin: auto;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1em;
  max-width: 850px;
  //   background: white;

  li {
    flex: 1;
    display: block;
    width: 100%;
    text-align: center;

    .selectedTag {
      background: getColor(lightLightBase2) !important;
      color: getColor(lightDarkText) !important;
    }

    button {
      background: getColor(lightBase);
      border: none;
      padding: 5px 20px;
      transition: background 200ms linear, color 200ms linear;
      @include objectCorner("default");
      font-size: 1.6rem;
      font-weight: 500;
      color: getColor(normalText);
      outline:none;

      // &:focus {
      //   background: getColor(lightdarkBase);
      // }

      // &:focus {
      //   background: getColor(lightLightBase2) !important;
      //   color: getColor(lightDarkText) !important;
      // }

      &:hover {
        background: getColor(lightdarkBase);
        color: getColor(azureToMist);
        cursor: pointer;
      }
    }
  }
}
