@use "../../styles/variables.module" as *;

.container {
  margin-top: 25px;
  width: 100%;
  // position: sticky;
  top: $navHeight;
  right: 0;
  left: 0;
  padding: 15px 0px;
  z-index: 1;

  @include responsive('mobile') {
    top: $navMobileHeight + 20;
  }
}

.wrapper {
  margin: auto;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1em;
  max-width: 850px;

  li {
    flex: 1;
    display: block;
    // width: 100%;
    text-align: center;

    .selectedTag {
      color: getColor(lightDarkText) !important;
      // @include BGTheme("lightest");
      background: interface(surfaceAlt);
      // @include objectShadow("active", "snow");
      font-weight: bold;
      transition: background 500ms linear, box-shadow 250ms linear;
      border-color: interface(border-active);

      &:hover {
        // @include BGTheme("lightest");
        background: interface(surfaceAlt);
        border-color: interface(border-active);
      }
    }

    button {
      // @include BGTheme("lighter");
      background: interface(secground);
      border: none;
      padding: 7px 20px;
      transition: background 200ms linear, color 200ms linear;
      @include objectCorner('default');
      font-size: 1.8rem;
      font-family: $primaryFont;
      font-weight: 500;
      color: getColor(normalText);
      color: theme(tagline);
      outline: none;
      border: 1px solid interface(secground);

      // &:focus {
      //   background: getColor(lightdarkBase);
      // }

      // &:focus {
      //   background: getColor(lightLightBase2) !important;
      //   color: getColor(lightDarkText) !important;
      // }

      &:hover {
        background:interface(surfaceAlt);
        color: theme(headline);
        cursor: pointer;
        border-color: interface(surfaceAlt);
      }
    }
  }
}
