@use './variables.module' as *;

// Desktop: 1 rem = 10px
// Mobile: 1rem - 9.6px
html {
    // 16px
    font-size:62.5%;

    @include responsive('tablet') {
        //15.36px
        font-size:60%;
    }
}

.azure { color:$azure; }

.success {
    background:$azure !important;
}

h1 {
    font-family:$primaryFont;
    font-size:5vmin;
    font-weight: 700;
    color:getColor(textHeader);
    text-transform: capitalize;
}

h2 {
    font-family:$primaryFont;
    font-size:3.6rem;
    font-weight: 700; 
    color:getColor(textHeader);
    text-transform: capitalize;
}

h2 {
    text-transform: capitalize;
}

h4 {
    letter-spacing:1px;
    text-transform: uppercase;
    font-weight:600;
    font-size:1.8rem;
    color:getColor(textSubTitle);
}

p {
    font-family:$primaryFont;
    font-size:1.6rem;
    font-weight:500;
    color:getColor(normalText);
}

.btn {
    padding:18px 30px !important;
    font-family:$primaryFont;
    font-weight:600;
    @include objectCorner('default');
    // border-radius:15px !important;
    border:none !important;
    font-size:1.6rem;
    text-decoration:none;
    transition: 
        background 250ms ease-in-out, 
        box-shadow 200ms ease-in-out,
        transform 150ms ease-in-out,
        border 200ms ease-in-out,
        color 250ms ease-in-out;

    &:hover {
        transform:translateY(-2px);
        cursor:pointer;
    }

    &:active {
        transform:translateY(0px) !important;
    }

    @include responsive('tablet') {
        display:block;
        padding:20px 0px;

        &:first-child {
            margin-bottom:2%;
        }
    }
}

.primary {
    background:$minimal;
    color:$midnight;

    &, .active {
        background: $midnight !important;
        color:$blanco !important;
    }

    &:hover {
        background:$midnight;
        color:$blanco;
        @include objectShadow('default', 'midnight')
    }

    &:active {
        background:$oscuro;
        color:$minimal;
        box-shadow:none !important;
    }
}

.outline {
    background:transparent;
    color:$azure;
    border:3px solid $azure;
}

.ghost {
    background:getColor(lightLightBase);
    color:getColor(lightDarkText);

    &:hover {
        @include objectShadow('hover', 'snow');
    }

    &:active {
        box-shadow:inset 0px 5px 15px rgba(0, 0, 0, 0.05) !important;
        color:$mist;
    }

    &, .active {
        @include objectShadow('default', 'snow');
    }
}

.navScroll {
    @include objectShadow('default', 'snow');
}

section {
    @include sectionPadding('desktop');

    .section-title {
        margin-bottom:15px;

        h4 {
            margin-bottom:15px;
        }

        h4, h2 {
            font-family: $primaryFont;
            text-align:center;
        }
    }

    // Responsive
    @include responsive('tablet') {
        @include sectionPadding('mobile');

        .section-title h4 {
            margin-bottom:10px;
        }
    }
}

// Navigation
nav {
    position:sticky;
    top:0;
    right:0;
    left:0;
    z-index:10;
    background:getColor(lightBase);
    transition: box-shadow 250ms linear;
    font-family:$primaryFont;
    
    .nav-wrapper {
        display:flex;
        align-items:center;
        justify-content:center;
        margin:auto;
        max-width:$wrapMaxWidth;
        height:$navHeight;
        padding:0 $widthPadding;
        
        .logo-contain {
            flex:1;
            text-align:left;
            
            // a {
            //     position:relative !important;
            //     top:1px !important;
            // }

            #logo {
                height:55px;
                padding:0;
                margin:auto;
            }

            .logo-text {
                position:relative;
                top:-20px;
                left:10px;
                font-size:1.6rem;
                color:getColor(menuText);
            }
        }
        
        .nav-contain {
            text-align:center;
            flex:2;

            .menu {
                display: flex;
                justify-content: center;
                align-items: center;
                margin:auto;
                list-style: none;
                padding:0;
              
                li {
                    position: relative;
                    
                    &:hover > ul {
                        display: block;
                    }
                    
                    &:focus-within > ul {
                        display:block;
                    }

                    ul {
                        display: none;
                        position: absolute;
                        left: -20%;
                        top: 100%;
                        text-align:left;
                        padding-top:20px;
                        
                        a {
                            background:getColor(lightBase);
                            padding:.8em 1.5em;
                            transition: background 200ms linear, color 200ms linear;
                            
                            &:hover {
                                background:getColor(darkBase);
                            }
                        }
                    }

                    a.nav-item {
                        color:getColor(menuText);
                        text-decoration:none;
                        margin:0px 15px;
                        font-size:1.6rem;
                        font-weight:500;
                        transition: color 150ms linear;
                        
                        &:hover {
                            color:$azure;
                        }
                        
                        &:first-child {
                            margin-left: 0 !important;
                        }
                        
                        &:last-child {
                            margin-right:0px !important;
                        }
                    }
                }
                > li + li { 
                    margin-left: 2em;
                }
            }
        }

        // Navigation Social Media Icons
        .social-media_bar {
            flex:1;
            text-align:right;
            
            a {
                display:inline-block;
                font-size:1.7rem;
                background:getColor(icn-lightBG);
                color:getColor(icon-lightTXT);
                margin:auto;
                height:35px;
                width:35px;
                border-radius:50%;
                line-height:40px;
                text-align:center;
                transition: background 200ms linear, color 250ms linear, box-shadow 250ms linear;

                &:hover {
                    background:$azure;
                    color:getColor(lightBase);
                    @include objectShadow('default', 'azure');
                }
            }

            & > a + a {
                margin-left:1em;
            }
        }
    }
}

.coverheadshot {
    margin-bottom:50px;
}

.Dropdown-menu {
    background-color:getColor(lightLightBase) !important;
}

.Toastify__toast {
    background:getColor(lightLightBase) !important;
}

.Toastify__toast-body {
    font-size:1.6rem;
    font-family:$primaryFont;
    color:getColor(azureToMist);
    font-weight:600;
}