// Color Palette
$zoom-blue: #00BFB2;
$artic-white: #F4F4F9;
$dark-blue: #171926;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Font Define
$primaryFont: 'Montserrat', sans-serif;

// Element Size Define
$wrapMaxWidth: 1200px;
$widthPadding: 5%;

$masOscuro: #171926;
$oscuro: #2D3346;
$midnight: #383E5F;
$mist: #B8C3D0;
$minimal: #F4F4F8;
$blanco: #FFF;
$azure: #3C86A5;
$coral: #CB5E65;
$forest: #799884;
$purple: #9264E9;

// Dark colors
$onyx: #191C21;
$jetBlack: #14171C;
$raven: #262930;
$steelBlue: #2B313C;
$cloud: #687077;


// Light Theme
$colors: (
    // base
    lightBase: $blanco,
    lightdarkBase: $minimal,
    lightLightBase: $blanco,
    darkBase:$oscuro,

    // Btn Based
    lightDarkText: $midnight,

    // Nav Text
    menuText: $midnight,

    // Icon Based
    icn-lightBG: $minimal,
    icon-lightTXT: $midnight,

    // Text
    textTitle: $azure,
    textHeader: $midnight,
    textHeaderDarkBG: $blanco,
    textSubTitle: $mist,
    normalText: $midnight,
);

// Dark Theme
$colors-dark: (
    // base
    lightBase: $onyx,
    lightdarkBase: $jetBlack,
    lightLightBase: $raven,
    darkBase:$oscuro,

    // Btn Based
    lightDarkText: $minimal,

    // Nav Text
    menuText: $cloud,

    // Icon Based
    icn-lightBG: $raven,
    icon-lightTXT: $cloud,

    // Text
    textTitle: $azure,
    textHeader: $minimal,
    textHeaderDarkBG: $blanco,
    textSubTitle: $mist,
    normalText: $cloud,
);

:root {
    @each $name, $color in $colors {
      --color-#{$name} : #{$color};
    }
}

// Dark Mode
@media(prefers-color-scheme: dark) {
    :root {
        @each $name, $color in $colors-dark{
        --color-#{$name} : #{$color};
        }
    }
}
  
@function getColor($color-name){
    @return var(--color-#{$color-name});
}

// Responsive
@mixin responsive($size) {
    @if $size == 'tablet' {
        @media screen and (max-width:760px) {
            @content;
        }
    }
}

// Object Definitions
@mixin objectShadow($state, $color) {
    @if $color == 'snow' {
        @if $state == 'default' {
            box-shadow:0px 5px 30px rgba(0, 0, 0, 0.05);
        } @else if $state == 'hover' {
            box-shadow:0px 5px 30px rgba(0, 0, 0, 0.1);
        }
    }

    @else if $state == 'default' and $color == 'azure' {
        box-shadow:0px 5px 20px rgba($azure, .3);
    }

    @else if $state == 'default' and $color == 'midnight' {
        box-shadow:0px 5px 20px rgba($midnight, .3);
    }
}