:root {
  --primary-font: sans-serif;
  --color-black:#000;
  --color-white:#FFF;
  --color-primary:#CC0000;
  --object-shadow: 0px 10px 30px -10px rgb(0 0 0 / 50);
  --object-radius: 10px;
}

.app-loading {
  text-align: center;
  font-weight: bold;
  font-family: var(--primary-font);
  font-size: 4rem;
}

#content {
  max-width: 100% !important;
  padding-bottom: 0px;
}

.not-front #content {
  padding-bottom: 0px !important;
}

.bodyContent {
  padding: clamp(30px, 5vw, 50px) 0px;
  display: inline-block;
}

section#intro-section {
  background: var(--color-black);
}

section#intro-section h1 {
  color: var(--color-white);
  font-size: clamp(50px, 6vw, 100px) !important;
  border-bottom: 6px solid var(--color-primary);
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 0px;
}

section#intro-section h2 {
  color: #fff;
  font-size: clamp(3rem, 5vw, 3.8rem) !important;
}

section#vote h1 {
  /* border-bottom: 6px solid var(--color-primary);
  width: fit-content;
  margin-right: auto;
  margin-left: auto; */

  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 6px;
}

.button_wrapper {
  margin-top: 20px;
}

.custom-button {
  padding: 15px 0px;
  font-size: 22px;
  transition: box-shadow 250ms linear, transform 250ms linear,
    background 250ms linear, border-color 250ms linear;
}
.custom-button i {
  margin-right: 2px;
}

.custom-button-nba {
  background: #1d428a;
  border-color: #1d428a;
}

.custom-button-nba:hover {
  box-shadow: 0px 15px 30px -10px rgb(0 87 255 / 45%);
  background: #214fa9 !important;
  border-color: #214fa9 !important;
}

.custom-button-nbaapp:hover {
  box-shadow: 0px 15px 30px -10px rgb(255 70 70 / 35%);
  background: #e71335 !important;
  border-color: #e71335 !important;
}

.custom-button-twitter {
  background: #1c9bef !important;
  border-color: #1c9bef !important;
}
.custom-button-twitter:hover {
  background: #20a6ff !important;
  border-color: #20a6ff !important;
  box-shadow: 0px 15px 30px -10px rgb(13 143 255 / 55%);
}

.lead {
  margin-bottom: 25px !important;
  font-weight: 400;
  line-height: 2;
  color: var(--color-gray-dark);
  text-align: left !important;
}

.lead-marks {
  font-weight: 900;
  font-size: 22px;
  color: #fff;
  display: inline-block;
}

.media-section {
  position: relative;
}

.media-section::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
}

@media screen and (max-width: 991px) {
  .bodyContentImg {
    max-width: 0px;
    margin: auto;
  }

  .lead {
    text-align: center !important;
  }
}

@media screen and (max-width: 990px) {
  .media-section::before {
    background: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 767px) {
  .lead {
    font-size: 18px;
    line-height: 1.8;
  }

  .dameStats > div {
    width: 100% !important;
    float: none !important;
    clear: both !important;
  }
}

.brenham-flipped-content {
  width: 100% !important;
}
.panel-display {
  padding: 0px !important;
  height: auto;
}
.brenham-flipped-content-inner {
  margin-right: 0px !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-size: 24px;
}
.social-icon img {
  filter: grayscale(1);
  opacity: 0.5;
}
.navbar {
  z-index: 197;
  width: 100% !important;
}
.navbar br,
.navbar p {
  display: none;
}
.pane-node-body {
  margin-top: -15px;
}
ul,
ol {
  text-align: left !important;
}
.col-sm-4 {
  margin-bottom: 45px !important;
  font-family: "UnitedSansCdBd", franklin-gothic-urw !important;
  text-rendering: optimizeLegibility;
  font-weight: normal !important;
  text-transform: uppercase;
}
.dameStats span,
.navbar ul li {
  font-family: "UnitedSansCdBd", franklin-gothic-urw !important;
  text-rendering: optimizeLegibility;
  font-weight: normal !important;
  text-transform: uppercase;
}
.dameStats span {
  font-size: 24px;
  color: white;
}
.dameStats hr {
  border-top: 11px solid #cc0000;
  width: 10%;
}
.field-name-body {
  padding-bottom: 0px !important;
}
.col-xs-12,
.col-sm-6,
.col-md-4 {
  margin-bottom: 20px !important;
}
.panels-flexible-region-5715-center {
  width: 100% !important;
}
.panel,
.panel-heading {
  background-color: transparent !important;
}
.bg6 {
  background-color: #333333;
  color: white;
}
.bg2 {
  background-color: #f4f5f5;
}
.bg3 {
  background-color: #cc0000;
}
.bgPass,
.bgPass h1,
.bgPass p {
  background-color: black;
  color: white;
}
.bgPass br {
  display: none;
}
/* .bgPass { 150px 0 !important; } */
.btn-white {
  border: 1px solid white;
}

.bg6 h2 {
  color: white !important;
}
section,
.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.media-section .inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 90px 0;
  width: 100%;
}

.text-center {
  text-align: center;
}

h1 .no-margin {
  margin: 0;
  padding: 0;
}

.media-section {
  display: table;
  width: 100%;
  background-color: #262626;
  position: relative;
}

.media-section[data-type="parallax"] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.no-margin {
  font-size: 120px !important;
  margin: 0px !important;
}
@media screen and (max-width: 767px) {
  .dameStats span {
    font-size: 24px;
    color: white;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .holder_bu {
    width: 100% !important;
    left: 0 !important;
    position: inherit !important;
  }
}

a:hover {
  text-decoration: none;
}
#wrapper_bu {
  position: absolute;
  width: 100%;
  left: -4%;
}

.txt_h1 {
  font-size: 2em;
}

.holder_bu {
  cursor: pointer;
}

.holder_bu_awayL1 {
  position: absolute;
  top: 0;
  left: 20%;
  width: 20%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}

.holder_bu_awayL2 {
  position: absolute;
  top: 0;
  left: 0%;
  width: 20%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}

.holder_bu_center {
  position: absolute;
  top: 0;
  left: 40%;
  width: 20%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}

.holder_bu_awayR1 {
  position: absolute;
  top: 0;
  left: 60%;
  width: 20%;
  height: 40%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}

.holder_bu_awayR2 {
  position: absolute;
  top: 0;
  left: 80%;
  width: 20%;
  height: 30%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}

.wrapper_bu {
  height: 115px;
  position: relative;
}

.panel-default {
  border: none;
}
.panel-heading {
  padding: 0px;
}

.title.active {
  font-size: 17px;
  /*font-family: ProximaNovaBold;*/
  color: #181818;
  line-height: 20px;
}

.title {
  font-size: 15px;
  color: #878787;
  margin: 25px 0px 0px 0px;
  text-transform: uppercase;
}

.panel-collapse h1 {
  color: white !important;
}

@media screen and (min-width: 768px) {
  .spaceDiv {
    height: 450px;
  }
  .slick-slide {
    margin: 0px 20px;
  }
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}
.slider h3,
.slider h1 {
  color: white !important;
}

.navbar-nav li {
  float: initial;
}
.navbar-nav {
  float: initial;
  text-align: center !important;
}
p {
  margin: 0px !important;
}
.btn-default:hover {
  border-color: transparent !important;
}
.btn-facebook {
  background-color: #4967ad;
}
.btn-twitter {
  background-color: #4aa0ec;
}
.btn-google {
  background-color: #d94f3f;
}
.btn-china {
  background-color: #d43437;
}
.btn-alexa {
  background-color: #60c2ee;
}
.btn {
  border-color: transparent;
}

.btn-default {
  font-size: 34px;
  color: white;
}

/* Roster Cards */
html,
body {
  box-sizing: border-box;
}

h2,
h3 {
  color: white;
  margin-top: 0;
}

.coaching-staff h2,
.coaching-staff h3 {
  color: black !important;
}
.black {
  color: black;
}
.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top-container {
  display: flex;
  justify-content: space-between;
}
.right-nav {
  display: flex;
  align-items: center;
}
.right-nav h3 {
  margin-left: 12px;
  margin-bottom: 0;
}

.player-wrapper {
  color: white;
  background: rgba(24, 24, 24);
  min-width: 100%;
  height: 400px;
  overflow: hidden;
  border: 1px solid white;
  background-origin: content-box;
  background-position-x: -80px;
  position: relative;
  /* background-image: url("https://publish.nba.com/blazers/sites/blazers/files/50th-logo_1.png"); */
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position-y: -170px;
  background-size: 1000px;
}
@media (min-width: 450px) {
  .player-wrapper {
    min-width: 360px;
  }
}
.player-wrapper img {
  width: 130%;
  position: absolute;
  left: 10px;
  bottom: 0;
}
.player-wrapper:hover > .slide-up {
  transform: translateY(-124px);
  transition: transform 0.8s;
}

@media (max-width: 375px) {
  .player-wrapper:hover > .slide-up {
    transform: translateY(-160px);
  }
}

.top-content {
  padding: 1.5rem;
}
.player-number {
  font-size: 100px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  color: #cc0000;
}

.first-name {
  margin-bottom: 0;
}

.last-name {
  font-size: 28px;
  display: inline-block;
  border-bottom: 4px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.slide-up {
  margin-top: 170px;
  background: RGBA(204, 0, 0, 0.95);
  height: 220px;
  padding: 9px 1.5rem;
}

.slide-up a {
  text-decoration: none;
  color: white;
}

.stats-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.stat {
  border-bottom: 1px solid white;
}
.wt {
  text-transform: lowercase !important;
}

.bottom-align {
  display: flex;
  justify-content: space-between;
}

.twitter,
.instagram {
  display: inline-block;
}
.full-bio {
  background: #000;
  border-radius: 2px;
  padding: 5px 12px;
  float: right;
  opacity: 1;
  font-weight: bold;
}

@media (max-width: 375px) {
  .player-wrapper {
    min-width: 100%;
  }
}
/* End Roster Cards */

#vote {
  background: #f4f4f6;
}

#vote .col-lg-12 {
  background: #f4f4f6;
}

/* Custom Player Card */
#playerApp {
  padding-bottom: 90px;
}

.playerCard_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  max-width: 1140px;
  margin: auto;
  padding: 15px;
}

.playerCard-item {
  background: var(--color-white);
  box-shadow: var(--object-shadow);
  border-radius: var(--object-radius);
  transition: background 250ms ease-in-out, box-shadow 250ms ease-in-out,
    transform 250ms ease-in-out;
}

.playerCard-item:hover {
  background: var(--color-dark);
  box-shadow: var(--object-shadowHover);
  transform: translateY(-2px);
}
.playerCard-item:hover .playerCard-btn {
  background: var(--color-white);
  border: 2px solid var(--color-primary);
  /* background: var(--color-gray); */
}

.playerCard-item:hover .playerCard-number {
  color: var(--color-primary-500);
}
.playerCard-item:hover .playerCard-name {
  color: var(--color-white);
}

.playerCard-top {
  min-height: 250px;
  /* background: var(--color-white); */
  background-size: cover;
  background-position: 30px center;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.playerCard-prep {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 50%;
  color: var(--color-black);
  font-family: sans-serif;
}

.playerCard-number {
  color: var(--color-primary);
  font-size: 10rem;
  display: block;
  font-weight: bold;
  transition: color 250ms ease-in-out;
  font-family: var(--font-primary);
  margin-top: 30px;
}

.playerCard-name {
  display: block;
  margin-top: 40px;
  text-transform: uppercase;
}

.playerCard-fname {
  color: inherit;
  /* font-size: clamp(1.5rem, 3.5vw, 2.5rem); */
  font-size: 4.5rem;
  font-family: sans-serif;
  font-weight: bold;
  font-family: var(--font-primary);
  display: block;
  transition: color 250ms ease-in-out;
}
.playerCard-lname {
  transition: color 250ms ease-in-out;
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--font-primary);
  display: block;
  margin-top: 10px;
}

.playerCard-bottom {
  min-height: 55px;
  /* padding: 25px 15px; */
  padding: 0 15px 0 15px;
  background: var(--color-white);
  border-radius: 0 0 6px 6px;
  display: flex;
  place-items: center;
  gap: 0.5em;
  /* border-top: 2px solid #fafafa; */
  box-shadow: 0px -5px 20px -5px rgb(0 0 0 / 6%);
}

.playerCard-scores {
  flex: 3;
}

.playerCard-btn {
  flex: 1;
  /* background: var(--color-light); */
  color: var(--color-primary);
  padding: 5px 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid var(--color-gray-light);
  transition: border 250ms linear, background 200ms linear, color 200ms linear;
}

.playerCard-btn:focus {
  outline: none;
  /* background: var(--color-white); */
  border: 2px solid var(--color-primary);
  text-decoration: none !important;
}

.playerCard-btn:hover {
  background: var(--color-primary) !important;
  color: var(--color-white) !important;
}

.playerCard-btn:active {
  background: var(--color-primary-400);
}

.playerCard-scores ul {
  list-style: none;
  text-align: center;
}

.playerCard-scores ul li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  font-family: sans-serif;
  color: var(--color-dark);
}

.playerCard-scores ul li strong {
  margin-right: 5px;
}

.playerCard-scores ul li,
.playerCard-scores ul {
  padding: 0px;
  margin: 0px;
}

.playerCard-scores ul li:not(:last-child) {
  margin-right: 1.5em;
}

@media screen and (max-width: 990px) {
  .playerCard_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 797px) {
  .playerCard_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .button_wrapper {
    gap: 1em !important;
  }
}

@media screen and (max-width: 550px) {
  section#intro-section h1 {
    margin-bottom: 0 !important;
  }
  .bodyContent {
    padding-top: 0px !important;
  }

  .playerCard_container {
    grid-template-columns: 1fr;
  }

  .playerCard-top {
    background-position: 30px center;
  }

  .playerCard-name {
    font-size: 24px;
  }

  .playerCard-scores ul {
    text-align: left;
  }

  .media-section {
    padding: 0px !important;
  }

  section#vote h1 {
    text-underline-offset: 4px;
    line-height: 1.5;
  }

  .lead {
    text-align: center !important;
  }
}

.lds-ellipsis {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--color-primary);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
