@use './variables.module' as *;

div.cover {
    background:getColor(lightBase);
    // min-height:30vmin;
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include sectionPadding('desktop');
    // padding:30px 5%;

    @include responsive('tablet') {
        @include sectionPadding('mobile');
    }

    .text {
        max-width:900px;
        text-align:center;

        h1 {
            line-height:40px;
        }

        p {
            margin-top:20px;
            line-height:30px;
        }
    }

    .buttonWrapper {
        display:flex;
        justify-content: center;
        margin-top:20px;
        width:100%;

        @include responsive('tablet') {
            flex-direction: column;
        }

        & > div + a {
            margin-left:15px;

            @include responsive('tablet') {
                margin-left:0;
            }
        }
    }
}

.recentProjects {
    background:getColor(lightdarkBase);
}

.awards {
    background:getColor(lightdarkBase);
}

.letsFriends {
    background:getColor(lightdarkBase);
}

.letsWork {
    background:$masOscuro;
}