@use './variables.module' as *;

div.cover {
    background:getColor(lightBase);
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include sectionPadding('desktop');
    // padding:30px 5%;

    @include responsive('tablet') {
        @include sectionPadding('mobile');
    }

    .text {
        max-width:900px;
        text-align:center;

        h1 {
            line-height:40px;
        }

        p {
            margin-top:20px;
            line-height:30px;
        }
    }

    .buttonWrapper {
        display:flex;
        justify-content: center;
        margin-top:20px;
        width:100%;

        @include responsive('tablet') {
            flex-direction: column;
        }

        & > div + a {
            margin-left:15px;

            @include responsive('tablet') {
                margin-left:0;
            }
        }
    }
}

.recentProjects {
    background:getColor(lightdarkBase);
}

.awards {
    background:getColor(midnightToRaven);
}

.friends {
    background:getColor(lightBase);

    .buttonCardContainer {
        display:flex;
        justify-content: center;
        align-self: center;

        a {
            max-width:350px;
        }

        a:not(:first-child):not(:last-child) {
            margin:0px 15px;
        }

        @include responsive('tablet') {
            flex-direction: column;

            a {
                // display:block;
                max-width:unset;
            }

            a:not(:first-child):not(:last-child) {
                margin:15px 0px;
            }
        }
    }
}

.letsWork {
    background:getColor(darkestDark);
}

.cardWrapper {
    // background:$white;
    display:flex;
    justify-content:space-evenly;
    align-items: flex-start;
    max-width:$wrapMaxWidth;
    margin:auto;

    @include responsive('tablet') {
        flex-direction: column;
        
        & > div + div {
            margin-top:30px;
        }
    }
}