@use './variables.module' as *;

div.cover {
  background: getColor(lightBase);
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  @include sectionPadding("mobile");
  // padding:30px 5%;

  @include responsive("mobile") {
    @include sectionPadding("mobile");
  }

  .text {
    max-width: 900px;
    text-align: center;

    h1 {
      line-height: 1.4;
      max-width: 700px;
      margin: auto;
      // line-height: 1;
      // font-size: 96px;
      // text-transform: uppercase;
    }

    p {
      margin-top: 10px;
      line-height: 35px;
      font-size: clamp(1.6rem, 1.8vw, 20px);
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;

    @include responsive("mobile") {
      flex-direction: column;
    }

    & > div + a {
      margin-left: 15px;

      @include responsive("mobile") {
        margin-left: 0;
      }
    }
  }
}

.recentProjects {
  background: getColor(lightdarkBase);
}

.awards {
  background: getColor(midnightToRaven);
}

.friends {
  background: getColor(lightBase);

  .buttonCardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2em;
    // margin: 0 !important;
    // display: flex;
    // justify-content: center;
    // align-self: center;

    // a {
    // //   max-width: 350px;
    // }

    // a:not(:first-child):not(:last-child) {
    //     margin:0px 15px;
    // }

    @include responsive("mobile") {
      //   flex-direction: column;
      grid-template-columns: 1fr !important;
      grid-row-gap: 2em;

      a {
        // display:block;
        max-width: unset;
      }

      //   a:not(:first-child):not(:last-child) {
      //     margin: 15px 0px;
      //   }
    }

    @include responsive("desktopish") {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2em;
    }
  }
}

.letsWork {
  background: getColor(darkestDark);
}

.cardWrapper {
  // background:$white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: $wrapMaxWidth;
  margin: auto;

  @include responsive("mobile") {
    flex-direction: column;

    & > div + div {
      margin-top: 30px;
    }
  }
}
