@use './variables.module' as *;

.coverTitle {
    height:40vmin;
    padding:$desktopPadding $widthPadding $desktopSmallPadding $widthPadding;
    text-align:center;
    place-items: flex-end center;

    // @include responsive('tablet') {
    //     justify-content: center;
    //     align-items: center;
    //     place-items: center !important;
    // }
}

.text {
    text-align: center;
    padding-bottom:$desktopSmallPadding;

    @include responsive('tablet') {
        padding-bottom:0;
    }
    
    h1 { 
        color:$white; 
        font-size:6rem;
    }

    h5 {
        color:$minimal;
        font-size:1.8rem;
        line-height:25px;
    }
}

// Overview Section

.columnLayout {
    & + .columnLayout {
        margin-top:50px;

        h3 {
            margin-bottom:15px;
        }
    }

    display:flex;

    div:not(:last-child) {
        margin-right:30px;
    }

    @include responsive('tablet') {
        flex-direction: column;

        div:not(:last-child) {
            margin-right:0;
            margin-bottom:30px;
        }   
    }

    p {
        line-height:30px;
    }

    .twoColumn_2to1 {
        flex:2;
    }
    
    .twoColumn_1to2 {
        flex:1;
    }

    .twoColumn {
        flex:1;
    }
}