@use '../styles/variables.module' as *;

.container {
  margin-block-end: clamp(30px, 5vw, 70px);
}

.title h2 {
  font-weight: 700;
  padding: 0px 0px 30px 0px !important;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.1em;
}

.title,
.item {
  max-width: $wrapMaxWidth;
  margin-inline: auto;
}

.item {
  & > * {
    padding-left: 0px !important;
  }

  .date h2 {
    font-weight: 100;
    font-size: 2rem;
  }

  .dateContent {
    ul {
      list-style: disc;
      line-height: 2;
      padding-left: 15px;
    }
    h3 {
      font-weight: 500;
      padding-block-end: 4px;
      line-height: 1.5;
    }
  }

  &:not(:last-child) {
    margin-block-end: clamp(15px, 2vw, 30px);
  }
}

@include responsive('mobile') {
  .date h2 {
    margin-block-end: 10px;
  }
  .dateContent h3 {
    padding-block-end: 0px;
    margin-block-end: -5px;
  }
  .item {
    &:not(:last-child)::after {
      content: '';
      margin-block-start: 15px;
      height: 1px;
      width: 100%;
      background: interface(border-active);
    }
    &:not(:last-child) {
      margin-block-end: 25px;
    }
  }
}
